#navbar .logo {
float: none;
text-align: center;
}

#navbar ul, #navbar ul li {
float: none;
}

#navbar ul li a {
padding: 5px;
border-bottom: #444 dotted 1px;
}

/* Showcase */
#showcase {
  height: 100%;
}
#showcase .showcase-content {
  padding-top: 70px;
  padding-bottom: 30px;
}
/* Home info image */
#home-info {
  height: 550px;
}

#home-info .info-img {
  display: none;
}

/* Home info text */
#home-info .info-content {
  float: none;
  width: 100%;

}

/* Boxes */
.box {
  width: 100%;
  float: none;
}

/* About info */
#about-info .info-right,
#services-info .info-left {
  float: none;
  width: 100%;
}

.l-heading {
  text-align: center;
}

#about-info .info-right {
  margin-top: 30px;
}

/* contact */

#contact-info .box {
  border-bottom: #444 dotted 1px;
}
